.header__logo {
  width: 142px;
  height: 33px;
  margin: 45px 0 40px;
}

@media screen and (max-width : 769px) {
  .header__logo {
    width: 104px;
    height: 25px;
    margin: 28px 0 32px 27px;
  }
}