.profile__image {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  margin-right: 41px;
  margin-bottom: 47px;
  opacity: 1;
}

.profile__image:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.3s ease;
}

.profile__image-back {
  width: 26px;
  height: 26px;
}

.profile__back {
  visibility: hidden;
  position: absolute;
  top: 51px;
  left: 49px;
  width: 26px;
  height: 26px;
  z-index: -1;
}

.profile__container {
  position: relative;
}

.profile__image:hover + .profile__back{
  visibility: visible;
}

.profile__image .profile__image:hover {
  visibility: visible;
  animation: fadeIn 3s;
}

@media screen and (max-width : 1080px) {
  .profile__image {
    margin: 0 auto 15px;
  }
  .profile__container {
    position: relative;
    margin: 0 auto;
  }
}
