.profile__author {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
  color: #FFFFFF;
  margin: 0;
}

@media screen and (max-width : 760px) {
  .profile__author {
    font-size: 27px;
    line-height: 56px;
  }
}